{
    "presets": [
        "react",
        [
            "env",
            {
                "targets": {
                    "browsers": ["last 2 Chrome versions"]
                }
            }
        ]
    ],
    "plugins": [
        [
            "react-intl", {
            "messagesDir": "./dist/l10n/"
            }
        ]
    ]
}
