.main-header {
    border-bottom: var(--app-main-border);
    width: 100%;
    height: 100%;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.main-header__title {
    flex-grow: 1;
}

.main-header__right-item {
    margin-left: 16px;
    flex: none;
}
